body {
    font-family: Arial, sans-serif;
    background-color: #0d1117;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(90deg, #000428, #004e92);
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

#courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

footer {
    background-color: #042049;
    color: white;
    text-align: center;
    padding: 10px;
    position:relative;
    bottom: 0;
    width: 100%;
}

.course {
    background: #161b22;
    border: 1px solid #30363d;
    padding: 20px;
    margin: 15px;
    width: 300px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease;
}

.course:hover {
    transform: scale(1.05);
    border-color: #58a6ff;
}

.enroll-btn {
    background: #58a6ff;
    color: #0d1117;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}

.enroll-btn:hover {
    background: #1f6feb;
}

#registration-form {
    background: #161b22;
    border: 1px solid #30363d;
    padding: 20px;
    margin: 15px;
    width: 300px;
    height: 300px;
}

/* Modal Styling */
.modal {
    display:none; /* Ensures modal is hidden by default */
    position:absolute;
    z-index: 1;
    left: 200;
    top: 200;
    width: 100%;
    height: 150%;
    background-color: rgba(4, 78, 107, 0.7);
}

/* Display modal when "show" class is added */
.modal.show {
    display:flex;
    align-items:stretch;
    justify-content: center;
}

.modal-content {
    background-color: #005586;
    padding: 50px;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    height: 85%;
    max-width: 500px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

button {
    background: #58a6ff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #1f6feb;
}